<div class="wrapper">
    <div class="box">
        <h2 class="fs-800 fw-medium">INICIO DE SESIÓN</h2>
        <form [formGroup]="myForm" (submit)="login()">
            <div class="input-box mt-3">
                <img src="assets/user.svg" alt="user">
                <input type="text" class="fs-600" placeholder="Nombre de usuario" formControlName="username">
            </div>
            <span class="error" *ngIf="myForm.get('username')?.hasError('required') && myForm.get('username')?.touched">
                El nombre de usuario es requerido.
            </span>
            <div class="input-box">
                <img src="assets/key.svg" alt="user">
                <input type="password" class="fs-600" placeholder="Contraseña" formControlName="password">
            </div>
            <button class="mt-3 fs-700 fw-medium">Iniciar sesión <img *ngIf="false" src="../../assets/loader.svg" alt="loader"></button>
            <!-- <span class="error">El nombre de usuario o la contraseña son incorrectos.</span> -->
        </form>
        <p class="fs-600 mt-1">No tienes una cuenta? <a routerLink="/register">Registrate</a></p>
    </div>
</div>