.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.chat {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
}

.message-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 1.5rem;
    overflow-y: scroll;
}

.message {
    margin-inline: 1.5rem;
    max-width: 60%;
}

.message p.name {
    margin-left: 1rem;
    color: grey;
}

.text {
    display: flex;
    width: 100%;
}

.text p {
    background-color: var(--clr-neutral);
    min-width: 5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.my.message {
    align-self: flex-end;
}

.my.message .text p {
    background-color: #73C6B680;
}

.my.message .name {
    text-align: right;
    margin-right: 1rem;
}

.input-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 85%;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid var(--clr-bttn);
}

.input-box .typing {
    position: absolute;
    color: grey;
    top: 0;
    left: 0;
    transform: translate(10%, -115%);
}

.input-box input {
    width: 95%;
    border: none;
    outline: none;
}

.input-box img {
    cursor: pointer;
    height: 100%;
    transition: all .3s ease-in;
}

.input-box img:hover {
    opacity: .6;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--clr-bttn);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}