@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --clr-primary: #EAFAF1;
    --clr-secondary: #E8F6F3;
    --clr-bttn: #73C6B6;
    --clr-neutral: #D9D9D9;
    --clr-hyperlink: #0000EE;
    --clr-error: #B00020;

    --fs-500: 1rem;
    --fs-600: 1.1rem;
    --fs-700: 1.3rem;
    --fs-800: 2.5rem;

    --fw-regular: 500;
    --fw-medium: 600;
    --fw-semibold: 700;
    --fw-bold: 800;

    --ff-primary: "Kanit", sans-serif;

    font-family: var(--ff-primary);
}

body {
    background-color: var(--clr-primary);
}

.ff-priamry {
    font-family: var(--ff-primary);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-semibold {
    font-weight: var(--fw-semibold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

button {
    cursor: pointer;
    border: none;
    background-color: #73C6B6;
    padding: .3125rem 1.5rem;
    border-radius: 1rem;
    transition: all .3s ease-in;
}   

button:hover {
    opacity: .3;
}

.error {
    color: var(--clr-error);
    margin-top: .5rem;
}