<div class="wrapper">
    <div class="box">
        <h2 class="fs-800 fw-medium">Registro</h2>
        <form [formGroup]="myForm" (ngSubmit)="register()">
            <div class="input-box mt-3">
                <img src="assets/user.svg" alt="user">
                <input type="text" class="fs-600" placeholder="Nombre de usuario" formControlName="username">
            </div>
            <!-- <span class="error">El nombre de usuario es requerido.</span> -->
            <div class="input-box">
                <img src="assets/key.svg" alt="user">
                <input type="password" class="fs-600" placeholder="Contraseña" formControlName="password">
            </div>
            <div class="input-box">
                <img src="assets/key.svg" alt="user">
                <input type="password" class="fs-600" placeholder="Repite la contraseña" formControlName="repassword">
            </div>
            <button class="mt-3 fs-700 fw-medium">Registrarse <img *ngIf="false" src="../../assets/loader.svg" alt="loader"></button>
            <!-- <span class="error">El nombre de usuario o la contraseña son incorrectos.</span> -->
        </form>
        <p class="fs-600 mt-1">Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
    </div>
</div>